.service-info{
    margin: 30px auto;
    width: 400px;
    height: 300px;
    opacity: 1;
}
.service-info:hover{
    opacity: .8;
    transform: scale(1.05);
    transition: transform .5s, opacity .5s;
}

.detail-info{
    color: rgb(59, 58, 58);
    background-color: rgb(226, 226, 226);
    padding: 5px 10px 10px 10px;
}
