
.header-container{
    display: flex;
    justify-content: space-between;
}

.header-detail{
    font-size: 20px;
    color: gainsboro;
    text-decoration: none;
    margin: 10px 15px;
}
.header-detail:hover{
    color: orange;
}
.signin-out{
    margin-right: 50px;
    font-size: 20px;
    color: gainsboro;
    text-decoration: none;
    padding: 10px 20px;
}