
.header-detail{
    display: flex;
    justify-content: space-between;
}
.header-detail{
    font-size: 20px;
    color: gainsboro;
    text-decoration: none;
    padding: 10px 20px;
}
.signin-out{
    font-size: 20px;
    color: gainsboro;
    text-decoration: none;
    padding: 10px 20px;
}