
.footer-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    color: whitesmoke;
    background-color: #0A1929;
}
.footer-detail{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px 0px;
}

.footer-logo{
    width: 400px;
}
.footer-logo p{
    margin-top: 20px;
    font-size: 18px;
}
.footer-contact h2{
    margin-bottom: 30px;
}
.footer-contact i{
    font-size: 22px;
    margin-right: 5px;
}
.footer-contact p{
    font-size: 20px ;
}
.social-icon{
    margin-top: 20px;
    color: rgb(187, 185, 185);
    font-size: 45px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .footer-logo{
        width: 120px;
    }
    .footer-social{
        margin-left: 15px;
        width: 120px;
    }
    .footer-contact{
        margin-left: 10px;
        width: 120px;
    }
}