
.member-detail{
    width: 370px;
    margin-left: 10px;
    color: rgb(68, 67, 67);
    display: flex;
    margin-top: 15px;
    padding: 10px 5px;
    border: 1px solid gainsboro;
}

.member-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.member-info{
    margin-left: 10px;
}
